$white: #ffffff;
$black: #000000;
$author-text: #96999f;
$background-violet: #4f01bc;
$background-blue: #29aae2;
$light-grey: #edf0f2;
$lighter-grey: #f9fafb;
$bckgrnd-black: #1d1e20;
$border-clr: #303234;
$grey: #6a6b6f;
$light-blue: #458ff9;

$xs-device: "(max-width: 767px)";
$sm-device: "(min-width: 768px) and (max-width: 1199px)";
$medium-menu: "(min-width: 768px) and (max-width: 991px)";

$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
