.blog-main .blog-main__new {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

.blog-main__article {
  margin-bottom: 70px;
  box-shadow: 0px 5px 18px -8px rgba(0,0,0,0.4);
}

.blog-main__img {
  padding-bottom: 23px;
  width: 100%;
}

.blog-main__heading {
  font-size: 20px;
  line-height: 25px;
  padding-bottom: -2px;
}

.blog-main__text {
  font-size: 16px;
  line-height: 20px;
  color: $author-text;
  padding-bottom: 7px;
}
