.event-nearest-btn .btn-details {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 34px;
  padding-left: 31px;
  border-radius: 46px;
  color: $background-violet;
}

.blog-main__article .blog-main__btn {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 28px;
  border-radius: 40px;
  color: $white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f00bc+36,29abe2+100 */
  background: #4f00bc; /* Old browsers */
  background: -moz-linear-gradient(45deg, #4f00bc 36%, #29abe2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #4f00bc 36%,#29abe2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #4f00bc 36%,#29abe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f00bc', endColorstr='#29abe2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.popup-main__field .popup-main__input-btn {
  text-align: left;
  margin-bottom: 30px;
  border-radius: 40px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f00bc+36,29abe2+100 */
  background: #4f00bc; /* Old browsers */
  background: -moz-linear-gradient(45deg, #4f00bc 36%, #29abe2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #4f00bc 36%,#29abe2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #4f00bc 36%,#29abe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f00bc', endColorstr='#29abe2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.proposition-main__tabs .tab-link {
  border-radius: 40px;
  color: $white;
}

.buy-main__course .buy-main__btn {
  font-size: 16px;
  line-height: 20px;
  margin-right: 25px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 27px;
  color: $white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  border-radius: 40px;
  border: none;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f00bc+36,29abe2+100 */
  background: #4f00bc; /* Old browsers */
  background: -moz-linear-gradient(45deg, #4f00bc 36%, #29abe2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #4f00bc 36%,#29abe2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #4f00bc 36%,#29abe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f00bc', endColorstr='#29abe2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.form-main__field .form-main__input-btn {
  text-align: left;
  margin-bottom: 33px;
  border-radius: 40px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f00bc+36,29abe2+100 */
  background: #4f00bc; /* Old browsers */
  background: -moz-linear-gradient(45deg, #4f00bc 36%, #29abe2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #4f00bc 36%,#29abe2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #4f00bc 36%,#29abe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f00bc', endColorstr='#29abe2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.articles__blog .articles__btn {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 28px;
  border-radius: 40px;
  color: $white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f00bc+36,29abe2+100 */
  background: #4f00bc; /* Old browsers */
  background: -moz-linear-gradient(45deg, #4f00bc 36%, #29abe2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #4f00bc 36%,#29abe2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #4f00bc 36%,#29abe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f00bc', endColorstr='#29abe2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.inner-article__blog .inner-article__btn {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 28px;
  border-radius: 40px;
  color: $white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f00bc+36,29abe2+100 */
  background: #4f00bc; /* Old browsers */
  background: -moz-linear-gradient(45deg, #4f00bc 36%, #29abe2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #4f00bc 36%,#29abe2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #4f00bc 36%,#29abe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f00bc', endColorstr='#29abe2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@media #{$xs-device} {
  .buy-main__course .buy-main__btn {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .form-main__field .form-main__input-btn {
    margin-bottom: 0;
  }
}
