.insta-main__heading {
  font-size: 30px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 55px;
}

.insta-main__photos {
  font-size: 0;
}

.insta-main__photo {
  width: 14.285%;
}
