.main-author {
  font-family: "Lato", sans-serif;
  line-height: 28px;
  font-weight: 300;
  height: 100vh;
  color: white;
  background-image: url("/img/owner.jpg");
  background-repeat: no-repeat;
  background-position: -100px 0;
  background-size: cover;
}

.main-author .container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 364px;
}

.main-author__block {
  display: flex;
  flex-direction: column;
  align-item: center;
  padding-top: 45px;
}

.main-author__name {
  font-size: 60px;
  line-height: 60px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding-bottom: 30px;
}

.main-author__presentation {
  font-size: 16px;
  line-height: 28px;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 500;
}

@media #{$sm-device} {
  .main-author {
    background-size: 100% 100%;
    background-position: 0 0;
  }
}

@media #{$xs-device} {
  .main-author {
    padding: 0 15px;
    height: auto;
    background-position: 0 0;
  }

  .main-author .container  {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: auto;
  }
}
