.main-contact {
  color: $author-text;
  font-size: 16px;
  line-height: 26px;
  padding-top: 22px;
}

.main-contact a {
  color: $white;
}

.main-contact__address {
  padding-bottom: 10px;
}

.main-contact__phone {
  padding-bottom: 13px;
}
